main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 18rem;
  height: 28rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

/* Ensure these elements are above the overlay */
.card h2, .card p, .card a, .card-content {
    z-index: 2;
    position: relative;
}


/* New overlay styles */
.overlay {
    position: absolute; /* Position it over the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1; /* Make sure it's above the image */
}

/* Modified existing styles */
.card-content, .card a, .card p {
    /* ... other styles ... */
    z-index: 2; /* Make sure text and content are above the overlay */
    position: relative; /* This is needed to make z-index work */
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
        z-index: 0; /* Make sure it's below the overlay */

}
.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.card p, .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.card p {
  inset: auto auto 80px 30px;
}
.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}
.card:hover p, .card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
  transition: opacity 0.8s ease-in;
  opacity: 1;  /* Lower value to make darker */
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* Add these new styles */
.card {
    position: relative;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ... existing styles ... */

.card-content {
    /* ... existing styles ... */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eye-icon-container {
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .eye-icon-container {
    opacity: 1;
}
