<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Style for the navbar buttons -->
    <style>
        /* Custom button styles */
        .btn-custom {
            background-color: #19c20c;
            color: #ffffff;
            border: none;
            margin-right: 15px;
        }
        /* Hover effect */
        .btn-custom:hover {
            background-color: #19c20c;
        }

        /* Making the navbar sticky at the top */
        .navbar {
            position: sticky;
            top: 0;
            z-index: 1000;  /* Ensure navbar is above the content */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='nextreel_logo_nobg.png') }}" height="100">
            </a>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/watched_movies">Watched Movies</a>
                            <a class="dropdown-item" href="/user_watch_list">Watchlist</a>
                            <a class="dropdown-item" href="/account_settings">Settings</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/setFilters" class="btn btn-custom">Set Filters</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="btn btn-custom">Login</a>
                    </li>

                {% endif %}



                <li class="nav-item">
                    <a href="/register" class="btn btn-custom">Join Nextreel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
