<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- Add any additional styles here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_form.css') }}">

</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
{#            <h4 class="company_title">Your Company Logo</h4>#}
            <img src="{{ url_for('static', filename='nextreel_logo_nobg.png') }}" alt="Nextreel" height="400" width="300">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <div class="row">
                    <form action="/login" method="post" control="" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input form-control form-control-lg" placeholder="Username" required>
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input form-control form-control-lg" placeholder="Password" required>
                        </div>

                        <div class="row">
                            <input type="submit" value="Submit" class="btn btn-primary btn-lg">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <a href="/register">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid text-center footer">

</div>

</body>
</html>
