<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .movie-info {
            font-size: 18px;
        }

        .poster-col {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .poster-image {
            max-width: 300px;
            max-height: 400px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    {% for row in rows %}
                        <li class="list-group-item">
                            <p>IMDB ID: {{ row.tconst }}</p>
                            <p>Year: {{ row.startyear }}</p>
                            <p>Runtime: {{ row.runtimeminutes }} mins</p>
                            <p>Genres: {{ row.genres|join(', ') }}</p>
                            <p>IMDB Rating: {{ row.averagerating }}</p>
                            <p>Num Votes: {{ row.numvotes }}</p>
                            <p>TMDB ID: {{ row.id }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <div class="d-flex justify-content-center">
                    <a href="/setFilters" class="btn btn-primary mx-2">Set Filters</a>
                    <form method="GET">
                        <button type="submit" class="btn btn-primary mx-2">Random Movie</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 poster-col">
                <img src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="Movie poster" class="img-fluid rounded poster-image">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
