<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Set Filters</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Set Filters</h1>

        <form action="/apply_filters" method="post">

            <!-- User Rating Range -->
            <div class="row mt-4">
                <div class="col-3">
                    <label for="user_rating_min">User Rating (Min):</label>
                    <input type="number" class="form-control" id="user_rating_min" name="user_rating_min" min="1" max="10" step="0.1">
                </div>
                <div class="col-3">
                    <label for="user_rating_max">User Rating (Max):</label>
                    <input type="number" class="form-control" id="user_rating_max" name="user_rating_max" min="1" max="10" step="0.1">
                </div>
            </div>

            <!-- Number of Votes -->
            <div class="row mt-4">
                <div class="col-3">
                    <label for="num_votes_min">Number of Votes (Min):</label>
                    <input type="number" class="form-control" id="num_votes_min" name="num_votes_min">
                </div>
                <div class="col-3">
                    <label for="num_votes_max">Number of Votes (Max):</label>
                    <input type="number" class="form-control" id="num_votes_max" name="num_votes_max">
                </div>
            </div>

            <!-- Year Range -->
            <div class="row mt-4">
                <div class="col-3">
                    <label for="year_min">Year (Min):</label>
                    <input type="number" class="form-control" id="year_min" name="year_min">
                </div>
                <div class="col-3">
                    <label for="year_max">Year (Max):</label>
                    <input type="number" class="form-control" id="year_max" name="year_max">
                </div>
            </div>

            <!-- IMDb Score -->
            <div class="row mt-4">
                <div class="col-3">
                    <label for="imdb_score_min">IMDb Score (Min):</label>
                    <input type="number" class="form-control" id="imdb_score_min" name="imdb_score_min" min="1" max="10" step="0.1">
                </div>
                <div class="col-3">
                    <label for="imdb_score_max">IMDb Score (Max):</label>
                    <input type="number" class="form-control" id="imdb_score_max" name="imdb_score_max" min="1" max="10" step="0.1">
                </div>
            </div>

            <!-- Genres section -->
<!-- Genres section -->
<div class="row mt-4">
    <div class="col-12">
        <label>Genres:</label>
        <div class="row">
            <!-- First set of genres -->
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Action" id="Action" name="genres[]">
                    <label class="form-check-label" for="Action">Action</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Adventure" id="Adventure" name="genres[]">
                    <label class="form-check-label" for="Adventure">Adventure</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Animation" id="Animation" name="genres[]">
                    <label class="form-check-label" for="Animation">Animation</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Biography" id="Biography" name="genres[]">
                    <label class="form-check-label" for="Biography">Biography</label>
                </div>
            </div>
            <!-- Second set of genres -->
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Comedy" id="Comedy" name="genres[]">
                    <label class="form-check-label" for="Comedy">Comedy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Crime" id="Crime" name="genres[]">
                    <label class="form-check-label" for="Crime">Crime</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Documentary" id="Documentary" name="genres[]">
                    <label class="form-check-label" for="Documentary">Documentary</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Drama" id="Drama" name="genres[]">
                    <label class="form-check-label" for="Drama">Drama</label>
                </div>
            </div>
            <!-- Third set of genres -->
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Family" id="Family" name="genres[]">
                    <label class="form-check-label" for="Family">Family</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Fantasy" id="Fantasy" name="genres[]">
                    <label class="form-check-label" for="Fantasy">Fantasy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Film-Noir" id="Film-Noir" name="genres[]">
                    <label class="form-check-label" for="Film-Noir">Film-Noir</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Game-Show" id="Game-Show" name="genres[]">
                    <label class="form-check-label" for="Game-Show">Game-Show</label>
                </div>
            </div>
            <!-- Fourth set of genres -->
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="History" id="History" name="genres[]">
                    <label class="form-check-label" for="History">History</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Horror" id="Horror" name="genres[]">
                    <label class="form-check-label" for="Horror">Horror</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Music" id="Music" name="genres[]">
                    <label class="form-check-label" for="Music">Music</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Musical" id="Musical" name="genres[]">
                    <label class="form-check-label" for="Musical">Musical</label>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <!-- Fifth set of genres -->
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Mystery" id="Mystery" name="genres[]">
                    <label class="form-check-label" for="Mystery">Mystery</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="News" id="News" name="genres[]">
                    <label class="form-check-label" for="News">News</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Reality-TV" id="Reality-TV" name="genres[]">
                    <label class="form-check-label" for="Reality-TV">Reality-TV</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Romance" id="Romance" name="genres[]">
                    <label class="form-check-label" for="Romance">Romance</label>
                </div>
            </div>
            <!-- Sixth set of genres -->
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Sci-Fi" id="Sci-Fi" name="genres[]">
                    <label class="form-check-label" for="Sci-Fi">Sci-Fi</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Sport" id="Sport" name="genres[]">
                    <label class="form-check-label" for="Sport">Sport</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Talk-Show" id="Talk-Show" name="genres[]">
                    <label class="form-check-label" for="Talk-Show">Talk-Show</label>
                </div>

                            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Thriller" id="Thriller" name="genres[]">
                <label class="form-check-label" for="Thriller">Thriller</label>
            </div>
        </div>
        <!-- Seventh set of genres -->
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="War" id="War" name="genres[]">
                <label class="form-check-label" for="War">War</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Western" id="Western" name="genres[]">
                <label class="form-check-label" for="Western">Western</label>
            </div>
        </div>
    </div>
</div>

            <div class="row mt-4">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Including Font Awesome for the question mark icon -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Include Bootstrap JS at the end of the body -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>